.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'sans-serif';
  margin-bottom: 100px;
  background: rgb(245, 232, 232)
}

.form{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.search{
  width: 25vw;
  height: 12px;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(207, 93, 93);
  border-width: 3px;
  font-size: 20px;
  cursor: pointer;
  color: rgb(207, 93, 93);
  outline: none;
}

::placeholder {
  color: rgb(207, 93, 93);
}

.headingcontainer{
  display: flex;
  background-color: rgb(207, 93, 93);
  width: 100vw;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.heading{
  color: white;  
  font-weight: 700;
  font-size: 40px;
}

.button{
  width: 100px;
  background-color: rgb(207, 93, 93);
  color: white;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.button:hover{
  background-color: white;
  color:rgb(207, 93, 93);
  border-color: rgb(207, 93, 93);
  border-width: 3px;
}

.recipes{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 90%;
}

.image{
  border-radius: 40px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 300px
}

.header{
  color: rgb(207, 93, 93);
  font-weight: 800;
  font-size: 20px;
}

.name{
  font-weight: 200;
}

.recipe{
  text-align: center;
  border: 7px solid rgb(207, 93, 93);
  border-radius: 45px;
  width: 300px;
  
}

.details{
  text-align: left;
  padding: 10px;
}

.numberofrec{
  width: 5vw;
  border-radius: 10px;
  padding: 10px;
  border-color: rgb(207, 93, 93);
  border-width: 3px;
  font-size: 15px;
  color: rgb(207, 93, 93);
  outline: none;
  height: 12px;
}

.list{
  list-style-type: none;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .heading{
    font-size: 40px;
  }
}